<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1> Welcome {{ username }}! </h1>
    <br>  </br>
    <p> This app helps you improve your awareness about your thoughts. </p>
    <br>  </br>
    <a href="/users/{{userid}}/events">Get list of all events</a>
    <br>  </br>
    <a href="/users/{{userid}}/pages/1/txteventsresultsummary">Get a text summary of events results</a>
    <br>  </br>
    <a href="/users/{{userid}}/grapheventsresultsummary">Get a graphical summary of events results</a>
    <br>  </br>
    <a href="/forms/newevent">Create new event</a>
    <br>  </br>
    </form>
</body>
</html>
